body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e1e, #333);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

header {
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.banner {
    width: 30%;
    max-height: 300px;
    object-fit: cover;
}

h1 {
    margin: 10px 0 0;
    color: #f39c12;
}

main {
    display: flex;
    flex-direction: row; /* Align categories horizontally */
    flex-wrap: wrap; /* Allow wrapping to the next line */
    justify-content: center; /* Center items horizontally */
    margin-top: 250px; /* Increased space for the fixed header */
    padding-bottom: 100px; /* Space for the fixed footer */
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Optional: to prevent excessive stretching */
}

.category {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    height: 250px;
    overflow-y: auto;
    position: relative;
    transition: transform 0.2s;
}

.category:hover {
    transform: translateY(-10px);
}

button {
    background-color: #f39c12;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #e67e22;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100% - 70px);
    overflow-y: auto;
    padding-right: 12px; /* Space for scrollbar */
    background-color: #333; /* Match background color */
    border-radius: 10px; /* Match border radius */
}

/* Custom scrollbar styling */
.message-container::-webkit-scrollbar {
    width: 12px;
}

.message-container::-webkit-scrollbar-track {
    background: transparent; /* Hide the track */
}

.message-container::-webkit-scrollbar-thumb {
    background: #f39c12;
    border-radius: 10px;
}

.message-container::-webkit-scrollbar-thumb:hover {
    background: #e67e22;
}

footer {
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
    color: #f39c12;
}
